<nav class="navbar cl-blue-navbar navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist"
         class="cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist"
         class="cl-icon-padding cl-text-white">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets Details
    </a>
  </div>
</nav>
<div class="mypaddig"></div>
<div class="contain-fluid"  >
  <form *ngIf="type === 'HEADER'">
    <div class="form-group">
      <label for="heading-text">Text</label>
      <input type="text" class="form-control" id="heading-text" placeholder="Text"
             [(ngModel)]="text"
             [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="form-group">
      <label for="heading-size">Size</label>
      <input type="text" class="form-control" id="heading-size" placeholder="3"
             [(ngModel)]="size"
             [ngModelOptions]="{standalone: true}">
    </div>
    <a class="btn btn-success btn-block" (click)="createWidget(size, text, width, url)">Add New {{type}}</a>
    <a class="btn btn-warning btn-block"
       routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
    <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
  </form>

  <form *ngIf="type === 'HTML'">
    <form>
      <div class="form-group">
        <label for="html-text">Text</label>
        <input type="text" class="form-control" id="html-text" placeholder="Text"
               [(ngModel)]="text"
               [ngModelOptions]="{standalone: true}"
               required
               autofocus>
      </div>
      <div class="row">
        <div>
          <quill-editor [(ngModel)]="text" name="text"></quill-editor>
        </div>
      </div>
    </form>
    <a class="btn btn-success btn-block" (click)="createWidget(size, text, width, url)">Add New {{type}}</a>
    <a class="btn btn-warning btn-block"
       routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
    <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
  </form>
  <form *ngIf="type === 'IMAGE'">

    <div class="form-group">
      <label for="image-text">FileName</label>
      <input type="text" class="form-control" id="image-text" placeholder="Text"
             [(ngModel)]="text"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input type="text" class="form-control" id="image-URL" placeholder="URL"
             [(ngModel)]="url"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input type="text" class="form-control" id="image-width" placeholder="100%"
             [(ngModel)]="width"
             [ngModelOptions]="{standalone: true}">
    </div>
    <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
      <input  name="myFile"   type="file" class="form-control"/>
      <input  name="width" value="{{width}}"   style="display: none"/>
      <input  name="widgetId" value="{{wdgId}}"   style="display: none"/>
      <input  name="websiteId" value="{{webId}}"   style="display: none"/>
      <input  name="pageId" value="{{pgId}}"   style="display: none"/>
      <input  name="userId" value="{{userId}}"   style="display: none"/>
      <input  name="url" value="{{url}}"   style="display: none"/>
      <button type="submit" class="btn btn-success btn-block">Upload New Image</button>
    </form>
    <a class="btn btn-warning btn-block"
       routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
    <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
    <br>
    <div class="bottom-margin">
      <a class="btn btn-primary btn-block"
         routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist/flickrsearch">
        Search Flickr
      </a>
    </div>
  </form>

  <form *ngIf="type === 'YOUTUBE'">
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input type="text" class="form-control" id="youtube-text" placeholder="Text"
             [(ngModel)]="text"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input type="text" class="form-control" id="youtube-URL" placeholder="URL"
             [(ngModel)]="url"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input type="text" class="form-control" id="youtube-width" placeholder="100%"
             [(ngModel)]="width"
             [ngModelOptions]="{standalone: true}">
    </div>
    <a class="btn btn-success btn-block" (click)="createWidget(size, text, width, url)">Add New {{type}}</a>
    <a class="btn btn-warning btn-block"
       routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
    <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
  </form>

  <form *ngIf="type === 'TEXT'">
    Text
    <input name="text" [(ngModel)]="text" class="form-control"/>

    Rows
    <input name="rows" [(ngModel)]="rows" class="form-control" type="number"/>

    <label for="wname">Name</label>
    <div>
      <input [(ngModel)]="name"
             type="text"
             class="form-control"
             id="wname"
             name="wname"
             required
             autofocus
             placeholder="Name">
      <!--<span class="help-block" *ngIf="!wname.valid && wname.touched">
          Please enter a name for the widget
      </span>-->
    </div>

    Placeholder
    <input name="placeholder"
           [(ngModel)]="place"
           class="form-control" required/>
    <p></p>
    <div class="input-group">
      <input type="text"
             readonly
             value="Formatted"
             class="form-control"/>
      <span class="input-group-addon">
          <input name="formatted"
                 [(ngModel)]="format"
                 type="checkbox"/>
        </span>
    </div>
    <p></p>
    <a class="btn btn-success btn-block" (click)="createWidget(rows, text, width, url)">Add New {{type}}</a>
    <a class="btn btn-warning btn-block"
       routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
    <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
  </form>
</div>

<nav class="navbar cl-blue-navbar navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="/profile/{{userId}}" class="cl-icon-padding cl-text-white">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
