<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <i class="cl-text-white navbar-brand cl-text-bold ">
        Best Rentals for Timely Commutation to your regular Destination!
      </i>
    </div>
    <div class="pull-right">
      <a routerLink="/login">
      <img src="https://cdn0.iconfinder.com/data/icons/construction-22/32/navigation_pin_location_find_mark_home-512.png" height="40" width="42">
      </a>
    </div>
  </div>
</nav>

<div class="container">
<div class="mypaddig"></div>
    <form #f="ngForm" (ngSubmit) = search()>
      <!--<label>City you would like to rent:</label>-->
      <div class="col-xs-6">
        <div>
      <input placeholder="City you would like to rent"
             name="from"
             type="text"
             class="form-control"
             ngModel
             required
             #from="ngModel"/>
      <span class="help-block" *ngIf="!from.valid && from.touched">
      Please enter the city you would like to rent
    </span>
        </div>
        <div>
        <!--<label>Address you daily commute to(such as Office/School):</label>-->
        <input placeholder="Address you daily commute to(such as Office/School)"
               name="to"
               type="text"
               class="form-control"
               ngModel
               required
               #to="ngModel"/>
        <span class="help-block" *ngIf="!to.valid && to.touched">
      Please enter the address of the place daily commute to, so that Craigmaps can suggest the rentals with time-effective travel
    </span>
      </div>
      </div>
      <div class="col-xs-6">
        <div>
      <select name="rent"
              placeholder="Range"
              class="form-control"
              ngModel
              #rent="ngModel">
        <option disabled selected hidden>--choose rent(default less than $5000)--</option>
        <option value="5000">less than $5000</option>
        <option value="10000">$5000 to $10000</option>
        <option value="15000">$10000 to $15000</option>
      </select>
      </div>

      <div>
        <select name="mode"
                placeholder="DRIVING"
                class="form-control"
                ngModel
                #mode="ngModel">
          <option disabled selected >--choose mode of transport(default DRIVING)--</option>
          <option value="driving">DRIVING</option>
          <option value="walking">WALKING</option>
          <option value="transit">TRANSIT</option>
          <option value="bicycling">BICYCLING</option>
        </select>
      </div>
      </div>
      <!--<label>Mode of commutation (DRIVING[Default])</label>-->
      <br>
      <button class="btn btn-success btn-block" type="submit" [disabled]="!f.valid"> Search </button>
    </form>
  <!--<button class="btn btn-warning btn-block" (click) = "clear()">Reset</button>-->
  <!--<div class="contain-fluid" >-->
    <!--<div class="col-xs-8" *ngIf="chart">-->
  <br>
  <!--<div *ngIf="errorFlag"-->
       <!--class="alert alert-warning">-->
    <!--{{errorMsg}}-->
  <!--</div>-->
  <div *ngIf="chart">

    <!--<div class="col-xs-4">-->
    <!--&lt;!&ndash;<div width="100%" height="200px">&ndash;&gt;-->
  <!--<ngx-line-chart [dataSets]="myDataSets"></ngx-line-chart>-->
    <!--</div>-->
    <div class="col-xs-6">
      <!--<div width="100%" height="200px">-->
      <ngx-line-chart [xAxisValues]="x" [dataSets]="myDataSets1"></ngx-line-chart>
    </div>
    <div class="col-xs-6">
      <!--<div width="100%" height="200px">-->
      <ngx-line-chart [xAxisValues]="x" [dataSets]="myDataSets2"></ngx-line-chart>
    </div>
    <!--</div>-->

    <div class="col-xs-12">
<table >
<tr>
  <th>House Location</th><th>Rent</th><th>Time to reach</th><th>Distance</th><th>Craigslist on Details</th>
</tr>
<tr *ngFor="let w of routedRentals" ng-class-odd="'striped'">
  <td>{{w.location}}</td>
  <td>{{w.price}}</td>
  <td>{{w.duration}}</td>
  <td>{{w.distance}}</td>
  <td><a href="{{w.url}}" target="_blank">{{w.url}}</a></td>
</tr>
</table>
  </div>
  </div>
<nav class="navbar cl-blue-navbar navbar-fixed-bottom">
  <div class="container-fluid row" >
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="/profile/craigmaps/admin/rentals" *ngIf="isAdmin">
      Monitor App for Rental Results
    </a>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="/profile/craigmaps/admin/travels" *ngIf="isAdmin">
      Monitor App for Travel Results
    </a>

    <div class="pull-right navbar-text" *ngIf="userId">
      <a routerLink="/profile" class="cl-icon-padding cl-text-white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
</div>
