<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" href="#">
        CraigMaps Search
      </a>
      <p class="navbar-text pull-right">
        <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right">
          </span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h4><b><i>Best Rentals for Timely Commutation to your regular Destination!</i></b></h4>
<br>
  <form #f="ngForm" (ngSubmit) = search()>
    <label>City you would like to rent:</label>
    <input placeholder="From"
           name="from"
           type="text"
           class="form-control"
           ngModel
           required
           #from="ngModel"/>
    <span class="help-block" *ngIf="!from.valid && from.touched">
      Please enter the city you would like to rent
    </span>

    <label>Address you daily commute to(such as Office/School):</label>
    <input placeholder="To"
           name="to"
           type="text"
           class="form-control"
           ngModel
           required
           #to="ngModel"/>
    <span class="help-block" *ngIf="!to.valid && to.touched">
      Please enter the address of the place daily commute to, so that Craigmaps can suggest the rentals with time-effective travel
    </span>

    <button class="btn btn-success btn-block" type="submit" [disabled]="!f.valid">
      Search </button>
  </form>

  <nav class="navbar cl-blue-navbar navbar-fixed-bottom">
    <div class="container-fluid row">
      <div class="pull-right navbar-text">
        <a routerLink="/profile" class="cl-icon-padding cl-text-white">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </div>
  </nav>
