<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" href="#">
        Profile
      </a>
      <p class="navbar-text pull-right">
        <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right">
          </span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username"
             [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"
             [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="Alice"
             [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" placeholder="Wonderland"
             [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
  <button class="btn btn-success btn-block" (click)="updateUser(username, email, firstname, lastname)" routerLink="/profile">Update</button>
  <button class="btn btn-danger btn-block" (click)="deleteUser()" routerLink="/login">Delete</button>
  <button class="btn btn-primary btn-block" routerLink="/profile/craigmaps">CraigMaps</button>
  <button class="btn btn-warning btn-block" (click) = "logout()">Logout</button>
</div>
