<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" href="#">
        Login
      </a>
      <p class="navbar-text pull-right">
        <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right">
          </span>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>

  <form #f="ngForm" (ngSubmit) = login()>
    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter the username
    </span>


    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter the password
    </span>

    <button class="btn btn-success btn-block" type="submit" [disabled]="!f.valid">Login</button>
    <a class="btn btn-warning  btn-block" routerLink="/register">New User? Register</a>
    <a href="{{baseUrl}}/facebook/login" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>
  </form>
</div>
