<nav class="navbar cl-blue-navbar navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/profile/websitelist" class="cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/profile/websitelist/{{webId}}/pagenew" class="cl-icon-padding cl-text-white">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="cl-text-white navbar-brand cl-text-bold" href="#">
      Pages
    </a>
  </div>
</nav>
<div class="mypaddig"></div>
<div class="container-fluid">
  <ul class="list-group-item cl-list-item-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let p of ps">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{p._id}}/pageedit">
        <span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{p._id}}/widgetlist">{{p.name}}</a>
    </li>
  </ul>
</div>

<nav class="navbar cl-blue-navbar navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile" class="cl-icon-padding cl-text-white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
