<nav class="navbar cl-blue-navbar navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}//widgetlist"
         class="cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Choose Widget
    </a>
  </div>
</nav>
<div class="mypaddig"></div>
<div class="container-fluid">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}/widgetnew/HEADER">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}/widgetnew/IMAGE">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}/widgetnew/YOUTUBE">Youtube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}/widgetnew/HTML">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}/widgetnew/TEXT">Text</a>
    </li>
  </ul>
  <a class="btn btn-warning btn-block"
     routerLink="/profile/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
</div>

<nav class="navbar cl-blue-navbar navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile" class="cl-icon-padding cl-text-white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
