<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pageId}}//widgetlist" class="cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Choose Widget
    </a>
  </div>
</nav>
<div class="mypaddig"></div>
<div class="container-fluid">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/widgetheader">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Text Input</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/widgetimage">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="/widgetyoutube">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar cl-blue-navbar navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="profile/{{userId}}" class="cl-icon-padding cl-text-white">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
