<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" href="#">
        Register
      </a>
      <p class="navbar-text pull-right">
        <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-plus pull-right">
          </span>
        </a>
      </p>
    </div>
  </div>
</nav>
<div class="container">
  <div class="alert alert-danger error-message" *ngIf="errorFlag"> {{errorMsg}} </div>
  <h1>Register</h1>

  <form #f="ngForm" (ngSubmit) = register()>

    <input placeholder="username"
           type="text"
           class="form-control"
           name="username"
           ngModel
           required
           autofocus
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter a username
    </span>

    <input placeholder="password"
           type="password"
           class="form-control"
           name="password"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter a password
    </span>

    <input placeholder="verify password"
           type="password"
           class="form-control"
           name="verifypassword"
           ngModel
           required
           #verifypassword="ngModel"/>
    <span class="help-block" *ngIf="!verifypassword.valid && verifypassword.touched">
      Please re-enter the password
    </span>

    <button class="btn btn-primary btn-block"
            type="submit" [disabled] = "!f.valid">Register</button>
    <button class="btn btn-danger btn-block"
            [routerLink]="['/login']" >Cancel</button>
  </form>
</div>
