<nav class="navbar cl-blue-navbar navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist"
         class="cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist"
         class="cl-icon-padding cl-text-white">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Image Details
    </a>
  </div>
</nav>
<div class="mypaddig"></div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="image-text">FileName</label>
      <input type="text" class="form-control" id="image-text" placeholder="Text"
             [(ngModel)]="text"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input type="text" class="form-control" id="image-URL" placeholder="URL"
             [(ngModel)]="url"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input type="text" class="form-control" id="image-width" placeholder="100%"
             [(ngModel)]="width"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Upload</label>
      <input type="file" class="form-control" id="exampleInputFile"
             [(ngModel)]="file"
             [ngModelOptions]="{standalone: true}">
    </div>
  </form>
  <a class="btn btn-success btn-block" (click)="updateWidget(text, url, width)">Upload Image</a>
  <a class="btn btn-warning btn-block"
     routerLink="/profile/{{userId}}/websitelist/{{webId}}/pagelist/{{pgId}}/widgetlist">Cancel</a>
  <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar cl-blue-navbar navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile/{{userId}}" class="cl-icon-padding cl-text-white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
